
<%layout('layouts/boilerplate') %>

<!-- <h1>Basic Bootstrap Styling Under Process</h1> -->


<!-- <div class="container">
    <div class="row" bg>
        <div class="col-2">
            <h2>Hello</h2>
        </div>
        <div class="col bg-danger">
            <h2>Hello</h2>
        </div>
        <div class="col mb-1 bg-primary">
            <h2>Hello</h2>
        </div>
        <div class="col mb-3 bg-secondary">
            <h2>Hello</h2>
        </div>
        
    </div>
</div> -->

<div class="container mt-3">
<form action="">

<div class="mb-3">
    <div class="row mb-1">
        <div class="col-6">
            <label class="form-label" for="Email">Email</label>
            <input type="text" class="form-control w-50" id="Email">
            <div class="form-text">We will never share your email</div>
        </div>
    </div>
</div>

<div class="mb-3">
    <div class="row mb-1">
        <div class="col-6">
            <label class="form-label" for="Password">Password</label>
            <input type="text" class="form-control w-50" id="Password">
            <div class="form-text">We will never share your Password</div>
        </div>
    </div>
</div>

</form>
</div>