<%layout('layouts/boilerplate')%>

<div class="container offset-3">
    <form action="/books/new" method = "POST" novalidate class="validated-form">

            <div class="col-3 row mt-3 mb-3">
                <label class="form-label" for="Title">Title:</label>
                <input class="form-control" type="text" id="Title" name="Title" >
            </div>

            <div class="col-3 row mt-3 mb-3">
                <label class="form-label" for="Image">Image URL:</label>
                <input class="form-control" type="text" id="Image" name="Image" >
            </div>

            <div class="col-3 row mt-3 mb-3">
                <label class="form-label" for="Author">Authors:</label>
                <input class="form-control" type="text" id="Author" name="Author">
            </div>
            
            <div class="col-3 row mt-3 mb-3">
                <label class="form-label" for="Year">Year Published:</label>
                <input class="form-control" type="text" id="Year" name="Year">
            </div>
            
            <div class="col-3 row mt-3 mb-3 ">
                <label class="form-label" for="Topic">Topic:</label>
                <input class="form-control" type="text" id="Topic" name="Topic">
            </div>

            <div class="col-3 row mt-3 mb-3">
                <label class="form-label" for="Price">$Price:</label>
                <input class="form-control" type="text" id="Price" name="Price">
            </div>

            <button class="btn btn-secondary" type="submit">Submit</button>
    </form>
</div>
       
<div class="container">
<h5><a href="/books">Go To Books Page</a></h5>

</div>

