<%layout('layouts/boilerplate')%>

<form action="/books/new" method = "POST">

    <div>
    <label for="Title">Title:</label>
    <input type="text" id="Title" name="Title" >
    </div>
    
    <div>
    <label for="Author">Authors:</label>
    <input type="text" id="Author" name="Author">
    </div>
    
    <div>
    <label for="Year">Year_Of_Publication:</label>
    <input type="text" id="Year" name="Year">
    </div>
    
    <div>
    <label for="Topic">Topic:</label>
    <input type="text" id="Topic" name="Topic">
    </div>

    <div>
    <label for="Price">$Price:</label>
    <input type="text" id="Price" name="Price">
    </div>

    <div>
    <button type="submit">Submit</button>
    </div>

</form>

<div>
    <h5><a href="/books">Go To Books Page</a></h5>
</div>
