<% layout('layouts/boilerplate') %>

<div class="container mt-3">
  <h3 class="mb-4">Titles of the Books:</h3>

  <ul class="list-group">
    <% books.forEach((book, index) => { %>
      <li class="list-group-item mb-2">
        <a href="/books/<%= book._id %>" class="text-decoration-none">
          <h4 class="mb-0"><%= index + 1 %>. <%= book.Title %></h4>
        </a>
      </li>
    <% }) %>
  </ul>
</div>
